<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="row">
        <div class="col-md-5 text-left">
          <h2>Thatquiz</h2>
        </div>
        <div class="col-md-7 text-center">
          <div class="row">
            <div class="col-md-12">
              <p>
                Maestro: entra o
                <a href="https://www.thatquiz.org/es/registration.2.html"
                  >regístrate</a
                >
                o [busca] o [aprende más]
              </p>
            </div>
            <div class="col-md-12">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ID / Email"
                />
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="button-addon2"
                  >
                    Button
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row md-5">
        <div class="card col-md-12" style="width: 18rem;">
          <div class="row">
            <div class="col-md-3 p-2">
              <p class="text-center">Enteros</p>
              <button type="button" class="btn btn-outline-success btn-block">
                Aritmética
              </button>
              <button type="button" class="btn btn-outline-success btn-block">
                Comparar
              </button>
              <button type="button" class="btn btn-outline-success btn-block">
                Medias
              </button>
              <button type="button" class="btn btn-outline-success btn-block">
                Potencias
              </button>
              <button type="button" class="btn btn-outline-success btn-block">
                Factores
              </button>
              <button type="button" class="btn btn-outline-success btn-block">
                Algebra
              </button>
              <button type="button" class="btn btn-outline-success btn-block">
                Cálculo
              </button>
            </div>
            <div class="col-md-3 p-2">
              <p class="text-center">Fracciones</p>
              <button type="button" class="btn btn-outline-info btn-block">
                Identificar
              </button>
              <button type="button" class="btn btn-outline-info btn-block">
                Aritmética
              </button>
              <button type="button" class="btn btn-outline-info btn-block">
                Comparar
              </button>
              <button type="button" class="btn btn-outline-info btn-block">
                Medias
              </button>
              <button type="button" class="btn btn-outline-info btn-block">
                Simplificar
              </button>
              <button type="button" class="btn btn-outline-info btn-block">
                Probabilidad
              </button>
            </div>
            <div class="col-md-3 p-2">
              <p class="text-center">Conceptos</p>
              <button type="button" class="btn btn-outline-danger btn-block">
                Reloj
              </button>
              <button type="button" class="btn btn-outline-danger btn-block">
                Dinero
              </button>
              <button type="button" class="btn btn-outline-danger btn-block">
                Medida
              </button>
              <button type="button" class="btn btn-outline-danger btn-block">
                Unidades
              </button>
              <button type="button" class="btn btn-outline-danger btn-block">
                Graficar
              </button>
              <button type="button" class="btn btn-outline-danger btn-block">
                Conjuntos
              </button>
            </div>
            <div class="col-md-3 p-2">
              <p class="text-center">Geometría</p>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Triángulos
              </button>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Figuras
              </button>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Geometría
              </button>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Puntos
              </button>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Ángulos
              </button>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Recta Numérica
              </button>
              <button type="button" class="btn btn-outline-secondary btn-block">
                Trigonometría
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6 text-center">
              Vocabulario
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-warning btn-block">
                    Inglés
                  </button>
                  <button type="button" class="btn btn-warning btn-block">
                    Francés
                  </button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-warning btn-block">
                    Español
                  </button>
                  <button type="button" class="btn btn-warning btn-block">
                    Alemán
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 text-center">
              Geografía
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-success btn-block">
                    América
                  </button>
                  <button type="button" class="btn btn-success btn-block">
                    África
                  </button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-success btn-block">
                    Europa
                  </button>
                  <button type="button" class="btn btn-success btn-block">
                    Ásia
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">Ciencia</p>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-block">
                    Células
                  </button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-block">
                    Anatomía
                  </button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-block">
                    Elementos
                  </button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-block">
                    Conversión
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
