<div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-6">
            <img src="https://pics.filmaffinity.com/Justice_League_Dark_Apokolips_War-192985226-large.jpg" class="mr-3"
                alt="..." width="100%" height="65%">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <img src="https://image.freepik.com/vector-gratis/logo-cine_23-2147503279.jpg" class="mr-3"
                        alt="..." width="100%" height="75%">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['/info']">Sobre Nosotros</button>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['/login']">Login</button>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-outline-dark btn-block" [routerLink]="['/registro']">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</div>