<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2>Información</h2>
        </div>
        <div class="card-header">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <i class="pi pi-mobile" style="font-size: 1em;"></i>Teléfono
              </div>
              <div class="col-md-8">02-4000154</div>
            </div>
          </div>
          <hr />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <i class="pi pi-cloud" style="font-size: 1em;"></i>Email
              </div>
              <div class="col-md-8">algo@algo.algo</div>
            </div>
          </div>
          <hr />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <i class="pi pi-clock" style="font-size: 1em;"></i>Horario
              </div>
              <div class="col-md-8">Lunes a Viernes: 12:00 a 20:00</div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="offset-md-4 col-md-8">
                Fin se semana: 08:00 a 22:00
              </div>
            </div>
          </div>
          <hr />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <i class="pi pi-directions" style="font-size: 1em;"></i
                >Dirección
              </div>
              <div class="col-md-8">Avenida Morán Valverde y Quitumbe.</div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-11">
                <div class="container">

                  <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12666.759891940854!2d-78.5154264735058!3d-0.25366602923307796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59900d0cac909%3A0x77d42af37adda941!2sCentro%20Comercial%20El%20Recreo!5e0!3m2!1ses-419!2sec!4v1590368302589!5m2!1ses-419!2sec"
                  width="650"
                  height="450"
                  frameborder="0"
                  style="border: 0;"
                  allowfullscreen=""
                  aria-hidden="false"
                  tabindex="0"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <h2>Redes Sociales</h2>
                    </div>
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-block text-left">
                                    Facebook
                                    </button>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-block text-left" style="background-color: #00acee; border-color: #00acee;">
                                    Twitter
                                    </button>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-danger btn-block text-left">
                                    Youtube
                                    </button>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-danger btn-block text-left" style="background-color: #FFFFFF; border-color: red; color: red">
                                    Google
                                    </button>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-danger btn-block text-left" style="background-color:  #00bb2d; border-color:  #00bb2d;">
                                    Whatsapp
                                    </button>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
