<div class="container">
  <div class="row mt-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button
      pButton
      type="button"
      label="Registro"
      class="ui-button-rounded btn-block"
      ></button>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button pButton
      type="button"
      label="Login"
      class="ui-button-rounded btn-block"
      [routerLink]="['/login']"
      ></button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
